/* CSS Document */
@media(max-width: 767px) {
    .image_button {
      padding:3px 6px;
      font-size:80%;
      line-height: 1;
    }
  }
    #image-user-activated{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #button_01{
      position:absolute;
      top:7%;
      left:20%;
  }
  #button_02{
      position:absolute;
      top:3%;
      left:84%;
  }

  #button_03{
      position:absolute;
      top:24%;
      left:74%;
  }
  #button_04{
      position:absolute;
      top:62%;
      left:30%;
  }

  #button_05{
      position:absolute;
      top:69%;
      left:82%;
  }

  #button_06{
      position:absolute;
      top:40%;
      left:45%;
  }

  /*Flip Info Panel CSS Documents*/

.front {
    backface-visibility: hidden; 
    transform-style: preserve-3d; 
    position: relative; 
    z-index: 1; 
    height: 100%; 
    width: 100%; 
}

.back {
    background-color: #000;
    color: #fff;
    backface-visibility: hidden;
    transform-style: preserve-3d; 
    position: relative; 
    z-index: 0; 
    height: 100%; 
    width: 100%; 
}


.image{
    backface-visibility: hidden;
}

.back_container {
    position: relative;
}

.back img {
    opacity: 0.15;
    padding-bottom: 20px;
}

.back ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 10px 0 10px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
    /* margin-left: 20px; */
}

.back p {
    margin-bottom: 0;
}

.back h2 {
    background-color: #fff;
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
}

#mirror01,
#mirror02,
#mirror03,
#mirror04,
#mirror05,
#mirror06,
#mirror07,
#mirror08,
#mirror09,
#mirror10,
#mirror11,
#mirror12{
    margin-bottom: 15px;
    perspective: 694px; 
    position: relative; 
    transform-style: preserve-3d;
}


@media (max-width: 1200px) {
    .back ul {
        font-size: 1.5vw;
    }
}

@media (max-width: 992px) {
    .back ul {
        font-size: 3.0vw;
    }
}


@media (max-width: 576px) {
    .responsive-text {
        font-size: 20px;
        backface-visibility: hidden;
    }
}